@font-face {
  font-family: "iconfont"; /* Project id 4650204 */
  src: url('iconfont.woff2?t=1732111066337') format('woff2'),
       url('iconfont.woff?t=1732111066337') format('woff'),
       url('iconfont.ttf?t=1732111066337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before {
  content: "\e631";
}

.icon-huaban:before {
  content: "\e640";
}

.icon-wenan:before {
  content: "\e762";
}

.icon-daima:before {
  content: "\e657";
}

.icon-HTML:before {
  content: "\e87d";
}

.icon-js:before {
  content: "\ec68";
}

.icon-css3:before {
  content: "\eb76";
}

.icon-xiangxia:before {
  content: "\e604";
}

.icon-bilibili1:before {
  content: "\e603";
}

.icon-xingxing:before {
  content: "\e602";
}

.icon-diejia:before {
  content: "\e682";
}

.icon-gengduo1:before {
  content: "\e601";
}

.icon-axios:before {
  content: "\e692";
}

.icon-yangshengqi:before {
  content: "\e600";
}

.icon-github-fill:before {
  content: "\e885";
}

